---
const companyLinks = [
  { link: "/about", text: "About" },
  { link: "/clients", text: "Clients" },
  { link: "/services", text: "Services" },
  { link: "/contact", text: "Contact" },
];

const services = [
  "Personal Returns",
  "Tax Projections & Managing Estimates",
  "Partnership & Corporations",
  "Reporting",
  "Trust Returns",
  "Financials Advising",
];

const contacts = [
  {
    icon: "ph:house-simple",
    text: "1129, Northwest J Street, Bentonville, Arkansas 72712, United States",
  },
  {
    icon: "ic:outline-email",
    text: "marisa@nswadvisors.com",
  },
  {
    icon: "charm:phone",
    text: "479-348-8124",
  },
];
const socialLinks = [
  { name: "mdi:facebook", link: "/" },
  { name: "mdi:twitter", link: "/" },
  { name: "mdi:youtube", link: "/" },
];

const today = new Date();

import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";
---

<section class="bg-black px-edge text-text-light">
  <footer class="py-12">
    <div
      class="max-w-screen-2xl mx-auto flex flex-col lg:flex-row items-center lg:items-start justify-between gap-10 text-center lg:text-left"
    >
      <div class="max-w-lg">
        <Image
          class="mx-auto lg:mx-0"
          src={import("@img/natural-state-wealth-advisors-logo.png")}
          alt="natural state wealth advisors logo"
          width={200}
        />
        <p class="mt-5 leading-loose font-rubik">
          Our business is dedicated to providing expert guidance and
          personalized recommendations to help individuals manage their
          financial affairs and achieve their financial goals.
        </p>
      </div>

      <div>
        <p class="font-bold text-xl">Company</p>
        <ul class="mt-5 flex flex-col space-y-3">
          {
            companyLinks.map((link) => (
              <li>
                <a href={link.link}>{link.text}</a>
              </li>
            ))
          }
        </ul>
      </div>
      <div>
        <p class="font-bold text-xl">Contact Us</p>
        <ul class="mt-5 flex flex-col items-center lg:block space-y-5">
          {
            contacts.map((contact) => (
              <li class="flex items-start space-x-5">
                <Icon name={contact.icon} size={26} />
                <p class="max-w-[280px]">{contact.text}</p>
              </li>
            ))
          }
        </ul>
        {
          /*<div class="flex justify-center lg:justify-start space-x-2 mt-6">
          {
            socialLinks.map((link) => (
              <a href={link.link}>
                <Icon name={link.name} size={24} class="fill-primary" />
              </a>
            ))
          }
        </div>*/
        }
      </div>
    </div>
  </footer>
  <div class="">
    <div class="max-w-screen-xl mx-auto py-5 border-t border-white">
      <p class="text-center">
        Copyright © {today.getFullYear()} Natural State Wealth Advisors | All Right
        Reserved | Powered By <a href="https://www.simply-sprout.com"
          >Simply Sprout</a
        >
      </p>
    </div>
  </div>
</section>
